.git
.gitignore
.gitattributes
node_modules
npm-debug.log
vendor
.env
.env.*
!.env.example
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache
*.log
.DS_Store
Thumbs.db
phpunit.xml
tests
.editorconfig
docker-compose*.yml
README.md
